Этот каталог, вообще, не должен быть доступен по запросу браузера.

Он не должен лежать в корне сайта.

Так что содержимое этого файла - просто информация. И генератор ошибки сервера,
если кто-то, случайно или намеренно, выложит каталог в корень сервера :)
