<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{$browser_title}</title>
	<meta http-equiv="content-type" content="text/html; charset={$this->output_charset()}" />
	<link rel="SHORTCUT ICON" href="/favicon.ico" />
	<script type="text/javascript" src="/_bors/js/cfuncs.js"></script>
	<link rel="stylesheet" type="text/css" href="/_bors/css/bors/core.css" />
	<link rel="stylesheet" type="text/css" href="/_bors/css/bors/color-gray.css" />

{if $css_list}{foreach item=css from=$css_list}
<style type="text/css" media="all">@import url("{$css}");</style>
{/foreach}{/if}
{if $style}
<style type="text/css" media="all"><!--
{foreach from=$style item="s"}
{$s}
{/foreach}
--></style>
{/if}

{if $header}{foreach from=$header item="h"}
{$h}
{/foreach}{/if}
{if $meta}{foreach key=key item=value from=$meta}
<meta name="{$key}" content="{$value|htmlspecialchars}" />
{/foreach}{/if}
{foreach from=$js_include item="s"}
<script type="text/javascript" src="{$s}"></script>
{/foreach}
{if $javascript}
<script type="text/javascript"><!--
{foreach from=$javascript item="s"}
{$s}
{/foreach}
--></script>
{/if}
{foreach item=s from=$head_append}
{$s}
{/foreach}
</head>

<!--[if lt IE 7]><body class="ie ie6 ltie9 ltie8 ltie7"><![endif]-->
<!--[if IE 7]><body class="ie ie7 ltie9 ltie8"><![endif]-->
<!--[if IE 8]><body class="ie ie8 ltie9"><![endif]-->
<!--[if IE 9]><body class="ie ie9"><![endif]-->
<!--[if gt IE 9]><body class="ie"><![endif]-->
<!--[if !IE]><!--><body><!--<![endif]-->

{if $template_top_menu}
<div class="header">
<ul class="top-tabs">
{foreach from=$template_top_menu item="t" key="d"}
{if $d|regex_match:'^\w+$'}
{assign var="url" value='/'|cat:$d|cat:'/'}
<li{if $main_uri|regex_match:$url} class="selected"{/if}><a href="{$url}">{$t}</a></li>
{else}{if $d}
<li><a href="{$d}">{$t}</a></li>
{else}
<li{if $main_uri|regex_match:'^http://[^/]+/$'} class="selected"{/if}><a href="/">{$t}</a></li>
{/if}{/if}
{/foreach}
</ul>
</div>
{/if}


<div class="body" {if not $right_menu} style="margin-right: 20px"{/if}>
<div class="clear">&nbsp;</div>
<div class="top-nav">{module class="nav_top" id=$this}</div>
{if not $skip_page_title}<h1>{$title}</h1>{/if}
<div style="font-style:italic; margin-right: 0; display: block; float: right; width: 40%; text-align: justify">{$description|lcml_bbh}</div>
<div class="clear">&nbsp;</div>

{$under_head_insert}

{if $error_message  }<div class="red_box"   >{$error_message  }</div>{/if}
{if $notice_message }<div class="yellow_box">{$notice_message }</div>{/if}
{if $success_message}<div class="green_box" >{$success_message}</div>{/if}

{if $page_tabs}
<ul class="pages-tabs">
{foreach from=$page_tabs key="u" item="t"}
<li{if $main_uri|url_equals:$u or $current_page|url_equals:$u} class="selected"{/if}><a href="{$u}">{$t}</a></li>
{/foreach}
</ul>
{/if}

{$body}

{if $right_menu}
<div class="right-menu">
<!-- right menu = {$right_menu} -->
	{include file=$right_menu}
</div>
{/if}

<div class="clear">&nbsp;</div>

</div>

{if $bottom_counters}{include file=$bottom_counters}{/if}

<!--
class = {$this->class_name()}
class_file = {$this->class_file()}
{if $this->cache_static()}
static expire = {$this->cache_static_expire()|date:'r'}
{/if}
class_template = {$this->template()}
-->
</body>
</html>
