<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>{$browser_title|htmlspecialchars}</title>
	<meta http-equiv="content-type" content="text/html; charset={$this->output_charset()}" />
	<link rel="SHORTCUT ICON" href="/favicon.ico" />
	<script type="text/javascript" src="/_bors/js/cfuncs.js"></script>
	<link rel="stylesheet" type="text/css" href="/_bors/css/bors/core.css" />
	<link rel="stylesheet" type="text/css" href="/_bors/css/bors/color-gray.css" />

{if $css_list}{foreach item=css from=$css_list}
<style type="text/css" media="all">@import url("{$css}");</style>
{/foreach}{/if}

{if $header}{foreach from=$header item="h"}
{$h}
{/foreach}{/if}
{if $meta}{foreach key=key item=value from=$meta}
<meta name="{$key}" content="{$value|htmlspecialchars}" />
{/foreach}{/if}
{foreach from=$js_include item="s"}
<script type="text/javascript" src="{$s}"></script>
{/foreach}
{if $javascript}
<script type="text/javascript"><!--
{foreach from=$javascript item="s"}
{$s}
{/foreach}
--></script>
{/if}
{foreach item=s from=$head_append}
{$s}
{/foreach}
</head>

<body>

{if $template_top_menu}
<div class="header">
<ul class="top-tabs">
{foreach from=$template_top_menu item="t" key="d"}
{if $d|regex_match:'^\w+$'}
{assign var="url" value='/'|cat:$d|cat:'/'}
<li{if $main_uri|regex_match:$url} class="selected"{/if}><a href="{$url}">{$t}</a></li>
{else}{if $d}
<li><a href="{$d}">{$t}</a></li>
{else}
<li{if $main_uri|regex_match:'^http://[^/]+/$'} class="selected"{/if}><a href="/">{$t}</a></li>
{/if}{/if}
{/foreach}
</ul>
</div>
{/if}


<div class="body">
<div style="font-style:italic; margin-right: 0; display: block; float: right; width: 40%; text-align: justify">{$description|lcml_bbh}</div>
<div class="clear">&nbsp;</div>
{if not $skip_page_title}<h1>{$title|htmlspecialchars}</h1>{/if}

{if $error_message  }<div class="red_box">{$error_message    }</div>{/if}
{if $success_message}<div class="green_box">{$success_message}</div>{/if}

{$body}

<div class="clear">&nbsp;</div>

</div>

<!--
class = {$this->class_name()}
class_file = {$this->class_file()}
{if $this->cache_static()}
static expire = {$this->cache_static_expire()|date:'r'}
{/if}
class_template = {$this->template()}
-->
</body>
</html>
