body {
	font-size: 9pt;
	font-family: Verdana;
	background-color: #eee;
	color: #555;
}

a {
	color: #000;
}

a:visited {
	color: #777;
}

a:hover {
	color: #cc0;
}

table.btab { 
	margin: 8px 0px 4px 0px; 
	border-left: 1px solid #9bd;
	border-top: 1px solid #9bd;
	padding: 0;
	border-collapse: collapse;
}

table.btab td { background: white; }

.btab td, .btab th 
{
	border-right: 1px solid #9bd;
	border-bottom: 1px solid #9bd;
	padding: 2px;
	margin: 0;
}

.btab caption {
	color: #def;
	background-color: #358;
}

.btab th {
	color: #358;
	background-color: #def;
}

.w100p { width: 98%; }

div.clear {
	height: 0px;
	clear: both;
}

div.pages_select a {
	margin: 0 3px;
	padding: 1px 2px;
	border: 1px solid #358;
	text-decoration: none;
}

div.pages_select a.current_page {
	background-color: #358;
	color: white;
}

div.pages_select a.select_page {
}

img {
	border: none;
}
