big, .big { font-size: 120%; }
big.extra, .big-extra { font-size: 200%; }

.big20 { font-size: 20pt; }

form.big { margin: 20px; }
form.big label { font-size: 20pt; }
form.big input { font-size: 20pt; }

.wa { width: auto !important }
/* Тестировать на http://admin.aviaport.ru/events/fast */
.w100p { width: 99.99% !important }
.ie .w100p { width: 98% !important }
.w50p, .half  { width: 49.99% !important }
.ie .w50p, .ie .half  { width: 49% !important }
.w33p, .third { width: 33.32% !important }
.ie .w33p, .ie .third { width: 32% !important }
.right { text-align: right; }
small, .small { font-size: 0.8em !important; }
.f8pt { font-size: 8pt !important; }
.f10pt { font-size: 10pt !important; }

.red { color: red; }
.green { color: green; }
.b { font-weight: bold; }
.nobr { white-space: nowrap; }

div.clear {	height: 0px !important; clear: both; }

table.null, table.null td,  table.null th {
	border: none;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

pre {
	white-space: pre-wrap;       /* css-3 */
	font-family: monospace !important;
}

img {
	border: none;
}

.yellow_box {
	margin: 4px 0;
	padding: 4px 8px;
	background-color: #ffd;
	border: 1px solid #eec;
}

.green_box {
	margin: 4px 0;
	padding: 4px 8px;
	background-color: #dfd;
	border: 1px solid #8f8;
}

.red_box {
	margin: 4px 0;
	padding: 4px 8px;
	background-color: #fdd;
	border: 1px solid #f88;
}

.gray_box {
	margin: 4px 0;
	padding: 4px 8px;
	background-color: #eee;
	border: 1px solid #ccc;
}

.s { text-decoration: line-through; }

img.flag {
	vertical-align: middle;
	margin-right: 2px;
}

.float-half {
	float: left;
	width: 48%;
}

.float-rhalf {
	float: left;
	width: 48%;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.rspace {
	margin-right: 20px;
}

.rpspace {
	padding-right: 20px;
}

.hspace { margin-left: 20px; margin-right: 20px; }

a.link-as-text { text-decoration: none; }
a.link-as-text:hover { text-decoration: underline; }

fieldset.admin {
	margin-top: 10px;
}

fieldset.admin legend {
	font-size: 1.5em;
	font-weight: bold;
}

div.img_200x200 {
	width: 200px;
	border: 1px solid;
	padding: 5px;
	margin: 5px;
	text-align: center;
	display: inline;
	float: left;
}

.snip {
	color: #999;
	font-size: 8pt;
	font-family: sans-serif;
}

div.dated_list {
	clear:both;
	margin-bottom: 8px;
}

div.dated_list div.timestamp {
	float: left;
	font: bold 10px sans-serif;
	padding-top: 8px;
}

div.dated_list div.title {
	margin-left: 8ex;
}

div.dated_list div.snip {
	margin-left: 20ex;
}

div.thumb_up, div.thumb_down {
	background-position: left 6px;
	background-repeat: no-repeat;
	padding-left: 20px;
}

div.thumb_up { background-image: url(http://balancer.ru/_bors/i/thumb_up.gif) }
div.thumb_down { background-image: url(http://balancer.ru/_bors/i/thumb_down.gif) }
