<ul>
{if $this->get('admin_group_url')}<li><a href="{$this->get('admin_group_url')}">Главная</a></li>{/if}
{if $this->get('new_sublink')}
	<li class="b{if $this->get('object_type')} imaged type-{$this->get('object_type')}{/if}"><a href="{$this->get('new_sublink')}">{$this->get('new_title')}</a></li>
{/if}
{if $real_object}<li><a href="{$real_object->url()}" target="_blank">Посмотреть на сайте</a></li>{/if}
{if $this->get('search_link')}<li><a href="{$this->get('search_link')}">Поиск</a></li>{/if}
</ul>
{if $this->get('admin_group_url')}
<form style="padding: 0 0 10px 10px; margin: 0;" name="goidrm"
	onSubmit="document.location='{$this->get('admin_group_url')}'+forms['goidrm'].elements['id'].value+'/'; return false">
ID:<input type="text" name="id" size="4" />
<input type="submit" class="search-submit" value="Перейти" />
</form>
{/if}
