{*
	Отработка и проверки на http://admin.aviaport.ru/photoreports/
*}

{if $this->get('object_type')}
{assign var="new_object_type" value=" imaged type-"|cat:$this->get('object_type')}
{assign var="c_li_type" value=" class='imaged type-"|cat:$this->get('object_type')|cat:"'"}
{/if}

{if $this->get('new_object_type')}
{assign var="new_object_type" value=" imaged type-"|cat:$this->get('new_object_type')}
{/if}

{if $this->get('new_sublink') || $real_object}
<h2>Действия</h2>
<ul>
{if $this->get('new_sublink')}<li class="b{$new_object_type}"><a href="{$this->get('new_sublink')}">{$this->get('new_title')}</a></li>{/if}
{if $real_object}<li{$c_li_type}><a href="{$real_object->url()}" target="_blank">Посмотреть на сайте</a></li>{/if}
</ul>
<br/>
{/if}

<ul>
{if $this->get('search_link')}<li class="imaged type-search"><a href="{$this->get('search_link')}">Поиск</a></li>{/if}
{if $this->get('right_menu_links')}
	{foreach $this->get('right_menu_links') as $title => $list}
		<h2>{$title|htmlspecialchars}</h2>
		<ul style="padding-bottom: 8px;">
		{foreach $list as $link}
			{if $link.url}
			<li{if $link.type} class="imaged type-{$link.type}"{/if}><a href="{$link.url}">{$link.title}</a></li>
			{else}
			<li{if $link.type} class="imaged type-{$link.type}"{/if}>{$link.title}</li>
			{/if}
		{/foreach}
		</ul>
	{/foreach}
{else}
	{if $this->get('admin_group_url')}<li class="imaged type-unknown"><a href="{$this->admin_group_url()}">{bors_load_uri($this->admin_group_url())|get:nav_name|bors_ucfirst}</a></li>{/if}
{/if}
</ul>
{if $this->get('admin_group_url')}
<form style="padding: 0 0 10px 10px; margin: 0;" name="goidrm"
	onSubmit="document.location='{$this->get('admin_group_url')}'+forms['goidrm'].elements['id'].value+'/'; return false">
<input type="text" name="id" size="4" placeholder="ID"/>
<input type="submit" class="search-submit" value="Перейти" />
</form>
{/if}

{if $this->get('search_request_url')}
<form style="padding: 0 0 10px 10px; margin: 0;" action="{$this->get('search_request_url')}">
<input type="text" name="q" size="15" placeholder="запрос" value="{$smarty.get.q}" /><input type="submit" class="search-submit" value="искать" />
</form>
{/if}
